{% import "bootstrap/utils.html" as utils %} {% extends "testbase.html" %} {% block title %}Employees{% endblock %} {% block page %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-8" style="width: 70%;">
            <div class="card">
                <br/> {{ utils.flashed_messages() }}
                <br/>
                <div class="card-header">
                    <h1 style="text-align:center;">Employees</h1>
                </div>
                {% if employees %}
                <!-- <hr> -->
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="15%"> Name </th>
                                <th width="30%"> Team </th>
                                <th width="20%"> Role </th>
                                <th width="20%"> Assign </th>
                                <th width="30%"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %} {% if employee.is_admin %}
                            <!--<tr style="background-color: #007ee5; color: white;">
                                <td> <i class="fa fa-key"></i> Admin </td>
                                <td> N/A </td>
                                <td> N/A </td>
                                <td> N/A </td>
                                <td> N/A </td>
                            </tr>-->
                            {% else %}
                            <tr>
                                <td> {{ employee.first_name }} {{ employee.last_name }} </td>
                                <td>
                                    {% if employee.team %} {{ employee.team.name }} {% else %} - {% endif %}
                                </td>
                                <td>
                                    {% if employee.role %} {{ employee.role.name }} {% else %} - {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.assign_employee', id=employee.id) }}" class="green">
                                        <i class="fa fa-user-plus"></i> Assign
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.delete_employee', id=employee.id) }}" class="red">
                                         Delete
                                    </a>
                                </td>
                            </tr>
                            {% endif %} {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}