{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %} 
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for( 'static', filename='img/favicon.ico' ) }}">
    <link href="{{ url_for( 'static', filename='css/custom.css' ) }} " rel="stylesheet ">
    <title>{{ title }} | Collaborative Team Work Tool</title>
</head>

<body class="h-100">
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        {{ utils.flashed_messages() }}
                        <br />
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <h4 class="text-center">Collaborative Team Work Tool</h4>
                                <!-- <br/> {{ wtf.quick_form(form) }} -->
                                <form action="" method="post" class="form mt-5 mb-5 login-input" role="form">
                                    {{ form.hidden_tag() }}
                                    <!-- {{ form.email() }}<br>
                                    {{ form.password() }}<br> -->
                                    <!-- <input id="csrf_token" name="csrf_token" type="hidden" value="Ijk1NGQzOTZkYmVhZjM4MDU1OTI0MTdjNjk1NTg0ZDMxNmVkMWY3MzYi.EUu98Q.2cHIIz3-YXbl89QN6Iolq6T8Quk"> -->
                                    <div class="form-group required">
                                        <input type="email" class="form-control" id="email" name="email" required type="text" value="" placeholder="Email">
                                    </div>
                                    <div class="form-group required">
                                        <input type="password" class="form-control" id="password" name="password" required type="password" value="" placeholder="Password">
                                    </div>                                        
                                    <input class="btn login-form__btn submit w-100" id="submit" name="submit" type="submit" value="Log In">
                                </form>
                                <p class="login-form__footer">Dont have account? <a href="{{url_for('auth.register')}}" class="text-primary">Sign Up</a> now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for( 'static', filename='plugins/common/common.min.js' ) }}"></script><title>{{ title }} | Collaborative Team Work Tool</title>
    <script src="{{ url_for( 'static', filename='js/custom.min.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/settings.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/gleek.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='js/styleSwitcher.js' ) }}"></script>
    
</body>
</html>





