{% import "bootstrap/wtf.html" as wtf %} {% extends "dashboard.html" %} {% block title %} Add team  {% endblock %} {% block body %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#teamdelete').click(function(event) {
            Swal.fire({
                type: 'warning',
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete team!'
                }).then((result) => {
                if (result.value) 
                {
                    $.ajax({
                        data : {
                            id : {{team.id}}
                        },
                        type : 'POST',
                        url : '{{url_for('admin.team_delete')}}'
                    })
                    .done(function(data) 
                    {
                        window.location.replace("{{url_for('admin.list_teams')}}")
                    });
                }
            })
        });
    });
</script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="content-section">
    <div class="card-header">
        <div class="card-body">
            <div style="display:flex; justify-content: center;">
                <h1 class="text-center">{{team.name}} Team</h1>
                <div style="margin-top: auto; margin-bottom: auto; margin-left: 20px;" id="teamdelete"><a href="#" style="cursor: pointer !important;" class="text-danger" rel="tooltip" title="Delete Team" ><i class="material-icons">delete</i></a></div> 
            </div>
            <div class="middle">
                <div >
                    <div style="margin-top: 20px;">
                        {{ wtf.quick_form(form) }}
                        <!-- <form class="form form-inline" method="post" role="form">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_errors(form, hiddens="only") }} 
                            {{ wtf.form_field(form.name) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{ wtf.form_field(form.description) }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{ wtf.form_field(form.submit) }}
                        </form> -->
                        <br/> 
                    </div>
                </div>
                <div >
                    <h3>Team Lead</h3>
                    <hr class="intro-divider">
                    <div class="w3-conainer">
                        <!-- <ul class="w3-card-4" style="list-style: none;"> -->
                        {% if lead.count() != 0 %}
                        <table class="table w3-card-4">
                            {% for emp in lead %}
                            <tr>
                                <td>
                                    <li class="w3-bar" style="list-style-type: none; margin-left: 35px; margin-top: 6px; margin-bottom: 6px;">
                                        <img src="../../../static/img/avatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                                        <div class="w3-bar-item" style="list-style: none;">
                                        <span class="w3-large">{{emp.first_name}} {{emp.last_name}}</span><a href="{{url_for('admin.change_member_team', id=team.id, eid=emp.id) }}"></a>
                                        <br/><span>{{emp.role}}</span> 
                                        </div>
                                    </li>    
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.change_member_team', id=team.id, eid=emp.id) }}"><button id="popup{{emp.id}}" class="w3-button w3-red" style="margin:20px;" >Remove</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>Team Leader
                        {% else %}
                        <div>
                            <span style="color: rgb(243, 125, 125);">
                                No Team Lead assigned to Team
                            </span>
                        </div>
                        {% endif %}    
                        <!-- </ul> -->
                    </div>
                    <br/>
                    <h3>Team Members</h3>
                    <hr class="intro-divider">
                    <div class="w3-conainer">
                        <!-- <ul class="w3-card-4" style="list-style: none;"> -->
                        {% if employees.count() != 0 %}
                        <table class="table w3-card-4">
                            {% for emp in employees %}
                            <tr>
                                <td>
                                    <li class="w3-bar" style="list-style-type: none; margin-left: 35px; margin-top: 6px; margin-bottom: 6px;">
                                        <img src="../../../static/img/avatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                                        <div class="w3-bar-item" style="list-style: none;">
                                        <span class="w3-large">{{emp.first_name}} {{emp.last_name}}</span><a href="{{url_for('admin.change_member_team', id=team.id, eid=emp.id) }}"></a>
                                        <br/><span>{{emp.role}}</span> 
                                        </div>
                                    </li>    
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.change_member_team', id=team.id, eid=emp.id) }}"><button id="popup{{emp.id}}" class="w3-button w3-red" style="margin:20px;" >Remove</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>   
                        {% else %}
                        <div>
                            <span style="color: rgb(243, 125, 125);">
                                No Team Member added for Team
                            </span>
                        </div> 
                        {% endif %}
                        <!-- </ul> -->
                    </div>
                    <div class="card-title">
                    {% if notemployees.count() != 1 %}
                    <br />
                    <h3><i class="material-icons">person_add</i>  Add Members</h3>
                    <hr class="intro-divider">
                    {% endif %}
                    </div>
                    <div class="w3-conainer">
                        <!-- <ul class="w3-card-4" style="list-style: none;"> -->
                        <table class="table w3-card-4">
                            {% for emp in notemployees %}
                            {% if emp.is_admin %}
                            {% else %}
                            {% if emp.team%}
                            {% else %}
                            <tr style="background-color: rgb(165, 236, 143);">
                                <td>
                                    <li class="w3-bar" style="list-style-type: none; margin-left: 35px; margin-top: 6px; margin-bottom: 6px;">
                                        <img src="../../../static/img/avatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                                        <div class="w3-bar-item" style="list-style: none;">
                                        <span class="w3-large">{{emp.first_name}} {{emp.last_name}}</span><a href="{{url_for('admin.change_member_team', id=team.id, eid=emp.id) }}"></a>
                                        <br/><span>{{emp.role}}</span>
                                        <br/><span><b>Current Team:</b> {{emp.team}}</span> 
                                        </div>
                                    </li>    
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.add_team_member', id=team.id, eid=emp.id) }}"><button id="popup{{emp.id}}" class="w3-button w3-green" style="margin:20px;" >Add Member</button></a>
                                </td>
                            </tr>
                            {%endif%}
                            {% endif %}
                            {% endfor %}
                            {% for emp in notemployees %}
                            {% if emp.is_admin %}
                            {% else %}
                            {% if emp.team%}
                            <tr style="background-color: rgb(243, 125, 125); padding-bottom: 0;">
                                <td>
                                    <li class="w3-bar" style="list-style-type: none; margin-left: 35px; margin-top: 6px; margin-bottom: 6px;">
                                        <img src="../../../static/img/avatar.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                                        <div class="w3-bar-item" style="list-style: none;">
                                        <span class="w3-large">{{emp.first_name}} {{emp.last_name}}</span><a href="{{url_for('admin.change_member_team', id=team.id, eid=emp.id) }}"></a>
                                        <br/><span>{{emp.role}}</span>
                                        <br/><span><b>Current Team:</b> {{emp.team}}</span> 
                                        </div>
                                    </li>    
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.add_team_member', id=team.id, eid=emp.id) }}"><button id="popup{{emp.id}}" class="w3-button w3-green" style="margin:20px;" >Add Member</button></a>
                                </td>
                            </tr>
                            {%endif%}
                            {% endif %}
                            {% endfor %}
                        </table>    
                        <!-- </ul> -->
                    </div>
                    <br />  
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}