{% extends "testbase.html" %}
{% block page %}
<!-- Header -->
<!-- Header -->
<div class="header pb-4 d-flex align-items-center bg-primary">
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Projects</h1>
                <p class="text-white mt-0 mb-5">Assign Projects to team members and update their status here</p>
                <a href="#!" class="btn btn-neutral" data-toggle="modal" data-target="#modal-project">Add Project</a>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid pt-6" id="projects">
    <script>
        function Page(x){
            window.location.href = ("/team/project/"+x);
        }
        function Rem(x){
            pid = x
            var formData = {
                'pid' : pid
            };
            // pid = {{id}}
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: "/project/remove", // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true
            })
            // using the done promise callback
            .done(function (data) {
                window.location.reload();
                console.log(data);

            });
        }

        $.get("/team/projects", function (data) {
            var row = document.createElement('div');
            row.setAttribute('class', 'row');
            console.log(data);
            // alert( "Load was performed." );
            for (x in data) {
                console.log(x);
                if (x % 3 == 0) {
                    document.getElementById('projects').appendChild(row);
                    row = document.createElement('div');
                    row.setAttribute('class', 'row');
                }
                var l = '';
                row.innerHTML += "<div class='col-xl-4 col-md-6'><div class='card' style='cursor:pointer;'><div class='card-body'><div class='row justify-content-between'><div class='col-11' onclick='Page("+data[x]['Pro']+")'><h3 class='card-title text-uppercase text-muted mb-0'>" + data[x]['Pname'] + " </h3><br/><span id='Status"+data[x]['Pro']+"'>"+data[x]['status']+"</span><br/><br/></div><div class='col-1'><i onclick='Rem("+data[x]['Pro']+")'class='text-danger fas fa-trash'></i></div></div><div onclick='Page("+data[x]['Pro']+")'><span class='text-nowrap'>Members:</span><span class='text-nowrap' style='float:right'>Role</span><p class='mt-1 mb-0 text-md' id='new" + x + "'></p></div></div></div></div>";
            }
            document.getElementById('projects').appendChild(row);
            for (x in data) {
                if(data[x]['status'] == "Completed"){
                    document.getElementById("Status"+data[x]['Pro']).classList.add("text-success");
                }
                else{
                    document.getElementById("Status"+data[x]['Pro']).classList.add("text-warning");
                }
                for (y in data[x]['employees']) {
                    s = "new" + x;
                    console.log(s);
                    var ob = document.getElementById(s);
                    ob.innerHTML += "<div><span class='text-nowrap'>" + data[x]['employees'][y]['Ename'] + "</span><span style='float:right'>" + data[x]['employees'][y]['Erole'] + "</span><br/><div>";
                }
            }
        });
    </script>
</div>


<div class="modal fade" id="modal-project" tabindex="-1" role="dialog"
    aria-labelledby="modal-project" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-primary modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-primary">

            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Add Project</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-0 pb-0">
                <div class="text-center pt-0 mt--0">
                    <h4 class="heading mt-2">Projects</h4>
                </div>
                <div class="card shadow">
                    <div class="card-body bg-gradient-primary" style="padding-bottom: 0;">
                        <form role="form" id="prof">
                            <div class="form-group mb-3">
                                <div
                                    class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="ni ni-bullet-list-67"></i></span>
                                    </div>
                                    <input class="form-control form-control-lg"
                                        id="name" placeholder="Project Name" type="text"
                                        required>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="ni ni-bullet-list-67"></i></span>
                                    </div>
                                    <input class="form-control form-control-lg"
                                        id="desc" placeholder="Description" type="text" required>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="proAdd"
                                    class="btn btn-secondary my-2"
                                    data-dismiss="modal">Add</button>
                            </div>
                        </form>
                        <script>
                            $(document).ready(function () {
                                // process the form
                                $('#proAdd').click(function (event) {
                                    // console.log(proli);
                                    var a = document.getElementById("name").value;
                                    var b = document.getElementById("desc").value;
                                    if (a == "") {
                                        Swal.fire({
                                            title: 'Error!',
                                            text: 'Please add project title',
                                            type: 'error',
                                            confirmButtonText: 'Okay'
                                        })
                                    }
                                    if (b == "") {
                                        Swal.fire({
                                            title: 'Error!',
                                            text: 'Please add project description',
                                            type: 'error',
                                            confirmButtonText: 'Okay'
                                        })
                                    } else {
                                        // console.log(d);
                                        // get the form data
                                        // there are many ways to get this data using jQuery (you can use the class or id also)
                                        var formData = {
                                            'projectname': a,
                                            'desc': b,
                                        };
                                        // process the form
                                        $.ajax({
                                                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                                url: '/project/add', // the url where we want to POST
                                                data: formData, // our data object
                                                dataType: 'json', // what type of data do we expect back from the server
                                                encode: true
                                            })
                                            // using the done promise callback
                                            .done(function (data) {

                                                window.location
                                                    .reload();
                                                // log data to the console so we can see
                                                console.log(data);

                                                // here we will handle errors and validation messages
                                            });
                                        event.preventDefault();
                                    }
                                });

                            });
                        </script>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}