body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
}

a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #7d7d7d;
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #007ee5;
    border-bottom: 1px solid #007ee5;
}

.Heading {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    color: #007ee5;
}

a:hover {
    color: #007ee5;
}

footer {
    padding: 20px 0;
    padding-top: 10px;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #007ee5;
    border-color: #007ee5;
}

.btn-default {
    border-color: #007ee5;
    color: #007ee5;
}

.btn-default:hover {
    background-color: #007ee5;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer,
.push {
    clear: both;
    height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-header1 {
    text-align: left;
    color: #000000;
    /* background-size: contain;s */
    height: 100%;
    width:100%;
}

.intro-header {
    padding-bottom: 8%;
    text-align: left;
    color: #f8f8f8;
    background: url(../img/image.png) no-repeat center left;
    background-size: contain;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 20%;
    text-align: center;
    margin-right: -66%;
}

.intro-message>h1 {
    margin: 0;
    font-size: 5em;
    color: #007ee5;
}

.intro-message>h3 {
    color: #343434;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.outer {
    display: table;
    position: relative;
    /* height: 70%; */
    width: 100%;
}

.middle {
    /* display: table-cell; */
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

a {
    cursor: pointer;
}

.bluecolor {
    color: #F44336;
}

.btn:hover {
    color: white;
    border: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-right {
    margin-right: 5px;
}

.homelogo {
    margin-left: 20px;
    width: auto;
    font-size: 16px;
}

.homelogo:hover {
    color: #007ee5;
}

#out {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #007ee5;
    border: 1px solid #007ee5;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#out:hover {
    text-decoration: none;
    background-color: #007ee5;
    color: white;
}

#message {
    position: absolute;
    z-index: 999;
    width: 450px;
    top: 55%;
    left: 60%;
    color: lightgrey;
    text-align: center;
    margin: 0;
}

#in {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #26A69A;
    border: 1px solid #26A69A;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#in:hover {
    text-decoration: none;
    background-color: #26A69A;
    color: white;
}

.btn-default {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: 1px solid #007ee5;
    box-sizing: border-box;
}

.btn-default:hover {
    text-decoration: none;
    background-color: #007ee5;
    color: white;
    border: 1px solid #007ee5;
}

#db {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #03A9F4;
    border: 1px solid #03A9F4;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#db:hover {
    text-decoration: none;
    background-color: #03A9F4;
    color: white;
}

#profilebtn {
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    background-color: white;
    color: #26A69A;
    border: 1px solid #26A69A;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#profilebtn:hover {
    text-decoration: none;
    background-color: #26A69A;
    color: white;
}

.red:hover {
    color: #F44336;
}

.green:hover {
    color: #4CAF50;
}

.blue:hover {
    color: #03A9F4;
}

.grid-container {
    height: 60%;
    width: 80%;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-columns: fit-content(400px);
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* text-align: center; */
    /* height: 100px; */
    margin: auto;
    padding: 20px;
}
.centergrid {
    margin: auto;
    width: 100%;
    padding: 10px;
}
.centergrid>h3 {
    margin-left: auto;
    text-align: center;
    /* width: 50%; */
    padding: 10px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
  }

.button:hover {
    background-color: #e7e7e7;
}


.addbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 8px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
}

.addbutton:hover {
    background-color: #e7e7e7;
}

form {
    background: white;
    width: 40%;
    margin:auto;
  }
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    }
  
  .form-field {
    position: relative;
  }

  
  .formwrapper {
    background: white;
    width: 350px;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
    padding: 50px;
  }
  
  label {
    font-size: .9em;
    color: #5f6988;
    margin-bottom: 3px;
    display: block;
    font-weight: 300;
    text-align: center;
  }
  
  input, textarea, select {
    padding: 10px 13px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
    border-radius: 2px;
    border: 1px solid #d4d9e3;
    font-weight: 200;
    color: #4d5060;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-out;
    font-size: .9em;
    outline-color: transparent;
    outline-style: none;
  }
  
  select {
    -webkit-appearance: none;
  }
  
  select::after {
    content: "hello";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    display: block;
    border-top: 20px solid #f00;
  }
  
  input[type="text"]::placeholder {
    color: #d4d9e3;
  }
  
  input[type="text"]:hover,
  input[type="password"]:hover,
  textarea:hover,
  select:hover {
    border-color: #5eb9d7;
    background: #d9f6ff;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    background: white;
    border-color: #5eb9d7;
    box-shadow: unset;
  }
  
  input[type="submit"] {
    background: #5eb9d7;
    border: 0;
    color: white;
    border-radius: 2px;
    /* margin-top: 15px; */
    font-weight: 400;
    border: 1px solid #5eb9d7;
    transition: all .3s ease-out;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    background: white;
    color: #5eb9d7;
  }
  
  .success-wrapper {
    background: white;
    width: 350px;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.1);
    padding: 50px;
  }
  