{% extends "testbase.html" %} {% block title %}Admin Dashboard{% endblock %} {% block page %}
<!-- <div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="Heading">Admin Dashboard</h1>
                    <h3>Manage your Employees</h3>
                    <br>
                    <br>
                    <a href="{{ url_for('admin.list_employees') }}" id="db">View Employee Details</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <a href="{{url_for('admin.list_employees')}}">
        <div class="card">
          <div class="card-header card-header-info">
            <h3 class="card-title">Employees </h3>
            <p class="card-category">Count: {{employeecount}}</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Team</th>
              </thead>
              <tbody>
                {% for emp in employees %}
                <tr>
                  <td>{{emp.id}}</td>
                  <td>{{emp.first_name}} {{emp.last_name}}</td>
                  <td>{{emp.role}}</td>
                  <td>{{emp.team}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-12">
        <a href="{{url_for('admin.list_teams')}}">
        <div class="card">
          <div class="card-header card-header-success">
            <h3 class="card-title">Teams</h3>
            <p class="card-category">Count: {{teamcount}}</p>
          </div>
          <div class="card-body table-responsive" style="padding-bottom: 0;">
            <table class="table table-hover">
              <thead class="text-success">
                <th>ID</th>
                <th>Team Name</th>
                <th>Description</th>
                <th>Employee Count</th>
                <!-- <th>Team</th> -->
              </thead>
              <tbody>
                {% for team in teams %}
                <tr>
                  <td>{{team.id}}</td>
                  <td>{{team.name}}</td>
                  <td>{{team.description}}</td>
                  <td>{% if team.employees %} {{ team.employees.count() }}</a> {% else %} 0 {% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        </a>
      </div>
    </div>
    </div>
  </div>

{% endblock %}