{% import "bootstrap/utils.html" as utils %}{% import "bootstrap/wtf.html" as wtf %} {% extends "dashboard.html" %}
{% block head %}
{{ super() }}
<link href="{{ url_for( 'static', filename='css/modal.css' ) }} " rel="stylesheet ">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="../../../static/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
<script type="text/javascript">
    $(document).ready(function() {
        $('#projectform').on('submit', function(event) {
            $.ajax({
                data : {
                    projectname : $('#projectname').val(),
                    projectdesc : $('#projectdesc').val(),
                    projectdate : $('#projectdate').val()
                },
                type : 'POST',
                url : '{{url_for('lead.add_team_project')}}'
            })
            .done(function(data) {
                    if(data.success){
                        console.log("Success");
                        console.log(data);
                        document.getElementById('myModal').style.display='none';
                        swal("Success","Project added","success").then((result) => {
                            if (result.value) {
                                window.location.reload();
                            }
                        }); 
                    }
                    else{
                        console.log("error")
                        document.getElementById('myModal').style.display='none';
                        swal("Error","Project name already exists","error"); 
                    }
                });
                event.preventDefault();
            });
    });
</script>
{% endblock %}
{% block body %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-blog">
                  <div class="card-header">
                    <!-- <div class="card-icon">
                      <i class="material-icons">content_copy</i>
                    </div> -->
                    <!-- <p class="card-category">Used Space</p> -->
                    <h3 class="card-title ">{{team.name}} Team</h3>
                    <div class="container-fluid">
                        
                        <div class="row">
                        {% for project in projects %}    
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card">
                                    
                                </div>
                            </div>
                            
                        {% endfor %}
                        </div>

                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="footer">
                        <button class="btn btn-dark btn-lg" id="myBtn"><i class="fa fa-plus"></i> Add Project</button>
                    </div>
                  </div>
                  <div id="myModal" class="modal">
                    <div class="modal-content">
                        <div class="modal-header card-header-info">
                            <h3>Add Project</h3>
                            <!-- <span style="font-size:18px">Add Team</span> -->
                            <span class="close">&times;</span>                          
                        </div>
                        <div class="modal-body">
                            <br/>
                            <form id="projectform" action="{{url_for('lead.add_team_project')}}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="projectname" aria-describedby="namehelp" placeholder="Enter Project name">
                                    <small id="namehelp" class="form-text text-muted">Project Name should be unique</small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="projectdesc" placeholder="Project Description">
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="Start Date" id="projectdate">
                                    <!-- <input type='text' class="form-control" id='datetimepicker4' /> -->
                                </div>
                                    <button type="submit" class="btn btn-info">Submit</button>
                            </form>
                            <br/>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="{{url_for('static', filename='scripts/modal.js')}}"></script>
                </div>
              </div>
        </div>
    </div>
</div> 
{% endblock %}