{% import "bootstrap/utils.html" as utils %}{% import "bootstrap/wtf.html" as wtf %} {% extends "dashboard.html" %}
{% block head %}
{{ super() }}
<link href="{{ url_for( 'static', filename='css/modal.css' ) }} " rel="stylesheet ">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="../../../static/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
<script type="text/javascript">
    $(document).ready(function() {
        // var obj = document.getElementById("sidebar");
        // obj.style.display = "none";
        // document.getElementById("main-panel").style.width = "100%";
        $('#projectform').on('submit', function(event) {
            $.ajax({
                data : {
                    projectname : $('#projectname').val(),
                    projectdesc : $('#projectdesc').val(),
                    projectdate : $('#projectdate').val()
                },
                type : 'POST',
                url : '{{url_for('lead.add_team_project')}}'
            })
            .done(function(data) {
                    if(data.success){
                        console.log("Success");
                        console.log(data);
                        document.getElementById('myModal').style.display='none';
                        swal("Success","Project added","success").then((result) => {
                            if (result.value) {
                                
                                window.location.reload();
                            }
                        }); 
                    }
                    else{
                        console.log("error")
                        document.getElementById('myModal').style.display='none';
                        swal("Error","Project name already exists","error"); 
                    }
                });
                event.preventDefault();
            });
    });
</script>
{% endblock %}
{% block body %}
{% block style %}<style>
    .bodyt {
        /* background-color: white; */
    }
</style>{% endblock %}
<div>
    <h2 class="text-center" style="font-weight: bold;">{{team.name}} Team</h2>
    <style>
        .newnav{
            width: auto;
            margin: auto;
        }
        .newnav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            background-color: #333;
        }
        
        .newnav li {
            float: left;
        }
        
        .newnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        .newnav li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #00bcd4;
        }

    </style>        
    <div class="newnav">
        <ul>
            <li><a id="Overview" href="{{url_for('lead.dash')}}">Overview</a></li>
            <li><a id="Projects" href="{{url_for('lead.team_projects')}}">Projects</a></li>
            <li><a href="#contact">Tasks</a></li>
            <li><a href="#contact">Conversations</a></li>
        </ul>
    </div>
    {% block pgcontent %}{% endblock %}
</div> 
<div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header card-header-info">
                <h3>Add Project</h3>
                <span class="close">&times;</span>                          
            </div>
            <div class="modal-body">
                <form id="projectform" action="{{url_for('lead.add_team_project')}}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="projectname" aria-describedby="namehelp" placeholder="Enter Project name">
                        <small id="namehelp" class="form-text text-muted">Project Name should be unique</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="projectdesc" placeholder="Project Description">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Start Date" id="projectdate" required>
                    </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/modal.js')}}"></script>
</div>
<script>
    var element, name, arr;
    if("{{title}}" == "Team Dashboard" && "{{subtitle}}" == "")
        t = "Overview";
    else
        t = "{{subtitle}}";
    element = document.getElementById(t);
    name = "active";
    element.className = name;
</script>
{% endblock %}